HELP.md
alvo /
! .mvn / wrapper / maven-wrapper.jar
! ** / src / principal / ** / destino /
! ** / src / teste / ** / destino /

# ## STS ###
.apt_generated
.classpath
.factorypath
.projeto
.definições
.springBeans
.sts4-cache
# ## IDEIA do IntelliJ ###
.idéia
* .iws
* .iml
* .ipr

# ## NetBeans ###
/ nbproject / privado /
/ nbbuild /
/ distância /
/ nbdist /
/ .nb-gradle /
construir /
! ** / src / main / ** / build /
! ** / src / teste / ** / construir /
# ## Código VS ###
.vscode /
